USE [master]
GO
/****** Object:  Database [LBDP1]    Script Date: 16/02/2019 11:29:51 a.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'LBDP1')
DROP DATABASE [LBDP1]
GO
/****** Object:  Database [LBDP1]    Script Date: 16/02/2019 11:29:51 a.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'LBDP1')
BEGIN
CREATE DATABASE [LBDP1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LBDP1', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LBDP1.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LBDP1_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LBDP1_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LBDP1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
